.can {
		color: green;
		}
	/*a:hover {
		color: lime;
		/*background-color: aqua;*/
	}	*/
	.no {
		color: red;
	}	
	p:hover#omg {
		color: aqua;
		
	}	
l1 {

font-size: 1.5em;
margin-top: 0.83em;
margin-bottom: 0.83em;
margin-left: 0;
margin-right: 0;
font-weight: bold;
}
.hehe:hover{
	color: lime;
	
}
/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}*/
lol { 
    display: block;
    list-style-type: square;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}
lil {
    display: list-item;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	cursor: pointer;
	}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: #ddd;
    /*background-color: blue;*/
	background-color: grey;
}
a.active:hover {
	color: black;
	background-color: #ddd;
	
	
}
body {
	background-color: lightblue;
	
	
	
}
table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr {background-color: white}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
input[type=text], input[type=password], input[type=number] {
    /*width: 20%;*/
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
background-color: #f2f2f2;
}

input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, select:focus {
    border: 3px solid #555;
}
select {
    /*width: 10%;*/
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}
input[type=button], input[type=submit], button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
	}
a:link.ya, a:visited.ya, a.ya {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover.ya, a:active.ya {
    background-color: lightblue;
    color: #4CAF50;
	cursor: pointer;
}
.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
}

/* Custom Elements */
